@page "/registro"
@using Tarea_7.Data
@using System.Data.SqlClient;
@using System.Data;

@inject IHttpClientFactory _clientFactory

<h3>Registro</h3>

@if (_persona != null)
{
    <EditForm Model="@_persona">
        <div class="row mb-3 ced">
            <div class="col-auto">
                <InputText @bind-Value="_persona.Cedula" placeholder="Cedula" class="form-control" />
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" @onclick="BuscarCedula">Buscar</button>
            </div>
        </div>
        <div class="@(isShowed ? "mostrar" : "ocultar") form row">

            <div class="col">
                <p>
                    <label>
                        Nombre:
                        <InputText @bind-Value="_persona.Nombres" class="form-control" />
                    </label>
                </p>
                <p>
                    <label>
                        Apellido:
                        <InputText @bind-Value="_persona.Apellidos" class="form-control" />
                    </label>
                </p>

                <p>
                    <label>
                        Telefono:
                        <InputText @bind-Value="_persona.Telefono" class="form-control" />
                    </label>
                </p>
                <p>
                    <label>
                        Signo Zodiacal:
                        @signo_zodiacal(_persona.Nacimiento)
                        @_persona.Signo_Zodiacal
                    </label>
                </p>
                <p>
                    <button type="button" class="btn btn-primary">Mapa</button>
                </p>
            </div>

            <div class="col">
                <p>
                    <label>
                        Fecha de Nacimiento:
                        <InputDate @bind-Value="_persona.Nacimiento" class="form-control" />
                    </label>
                </p>
                <p>
                    <label>
                        Provincia:
                        <InputSelect @bind-Value="_persona.Provincia" class="form-control">
                            <option value="">Seleccione la provincia</option>
                            <option value="China">Santo Domingo</option>
                            <option value="Europea">Santiago</option>
                        </InputSelect>
                    </label>
                </p>
                <p>
                    <label>
                        Vacuna Recibida:
                        <InputSelect @bind-Value="_persona.VacunaRecibida" class="form-control">
                            <option value="">Selecciona la vacuna</option>
                            <option value="China">China</option>
                            <option value="Europea">Europea</option>
                        </InputSelect>
                    </label>
                </p>           
                <p>
                    <button type="button" class="btn btn-primary" >Agregar Paciente</button>
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <h3>
                        <RadzenCheckBox @bind-Value="@showMadridMarker" />
                    </h3>
                    <RadzenGoogleMap Style="height:600px;" Zoom="@zoom" Center="@(new GoogleMapPosition() { Lat = 42.6977, Lng = 23.3219})" MapClick="@OnMapClick" MarkerClick="@OnMarkerClick">
                        <Markers>
                            <RadzenGoogleMapMarker Title="London" Label="London" Position="@(new GoogleMapPosition() { Lat = 51.5074, Lng = 0.1274})" />
                            <RadzenGoogleMapMarker Title="Paris" Label="Paris" Position="@(new GoogleMapPosition() { Lat = 48.8566, Lng = 2.3522})" />
                            @if (showMadridMarker)
                            {
                                <RadzenGoogleMapMarker Title="Madrid" Label="Madrid" Position="@(new GoogleMapPosition() { Lat = 40.4168, Lng = -3.7038})" />
                            }
                        </Markers>
                    </RadzenGoogleMap>
                </div>
                <div class="col-xl-6">
                    <label>Posicion: </label>@ClickedPosition
                </div>
                </div>
            </div>

    </EditForm>
}
@code {

    SqlConnection conexion = new SqlConnection("Data Source = LAPTOP-1MM0QVKJ\\SQLEXPRESS; Initial Catalog = JORNADA_DE_VACUNACION; Integrated Security = true");

    Persona _persona = new Persona() { Nacimiento = DateTime.UtcNow };
    bool isShowed = false;

    async Task BuscarCedula()
    {
        if (string.IsNullOrEmpty(_persona.Cedula)) return;
        if (!Validacion.Cedula(_persona.Cedula)) return;

        HttpRequestMessage req = new HttpRequestMessage(HttpMethod.Get, $"https://api.adamix.net/apec/cedula/{_persona.Cedula}");

        HttpClient client = _clientFactory.CreateClient();

        HttpResponseMessage res = await client.SendAsync(req);

        if (res.IsSuccessStatusCode)
        {
            _persona = await res.Content.ReadFromJsonAsync<Persona>();
        }

        isShowed = !isShowed;
    }
    string signo;
    string signo_zodiacal (DateTime fecha)
    {

        SqlDataReader leer;
        SqlCommand cmd = new SqlCommand("SP_VALIDAR_SIGNO", conexion);
        cmd.CommandType = CommandType.StoredProcedure;
        conexion.Open();
        cmd.Parameters.AddWithValue("@FECHA_DE_NACIMIENTO", fecha);
        leer = cmd.ExecuteReader();

        //List<E_Edificios> listar = new List<E_Edificios>();
        while (leer.Read())
        {
            _persona.Signo_Zodiacal = leer.ToString();
        }
        conexion.Close();
        leer.Close();

        return _persona.Signo_Zodiacal;
    }

    int zoom = 3;
    bool showMadridMarker;
    string ClickedPosition="";

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        ClickedPosition = $"Map cliked LAT : {args.Position.Lat}, LNG : {args.Position.Lng}";
    }
    void OnMarkerClick(RadzenGoogleMapMarker args)
    {
        ClickedPosition = $"Map {args.Title} cliked LAT : {args.Position.Lat}, LNG : {args.Position.Lng}";
    }
}